# Example greetd config using cage to run the QML greeter
# Install to: /etc/greetd/config.toml

[terminal]
vt = 1

[default_session]
command = "/usr/bin/env TISS_GREETD_DEFAULT_USER=YOUR_USER TISS_GREETD_LOCK_USER=1 TISS_GREETD_SESSION_JSON='[\"niri\"]' /usr/bin/tiss-greetd-launcher"
user = "greeter"
